<h1>UserPanel#new</h1>
<p>Find me in app/views/user_panel/new.html.erb</p>


<% provide(:title, 'user_panel') %>
<h1>user_panel</h1>

<div class="row">
  <div class="span6 offset3">
<%
=begin
%>
    <%= form_tag({ controller: :user_panels, action: :create}) do %>
      <%= label :user_panels, :title %>
      <%= text_field :user_panels, :title %>

      <%= label :user_panels, :ingredient %>
      <%= text_field :user_panels, :ingredient %>

      <%= label :user_panels, :seasoning %>
      <%= text_field :user_panels, :seasoning %>

      <%= label :recipe_pictures, :picture_name %>
      <%= text_field :recipe_pictures, :picture_name %>

      <%= submit_tag "post", class: "btn btn-large btn-primary" %>
    <% end %>
<%
=end
%>


    <%= form_for(@user_panel) do |f| %>
      <%# render 'shared/error_messages' %>

      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :ingredient %>
      <%= f.text_field :ingredient %>

      <%= f.label :seasoning %>
      <%= f.text_field :seasoning %>

        <%= fields_for(@recipe_picture) do |p| %>
          <%= p.label :picture_name %>
          <%= p.text_field :picture_name %>
        <% end %>
      <%= f.submit "post", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
<%
=begin
%>
      <%= f.hidden_field :user_id, :value => @current_user.user_id %>

<%= f.hidden_field :user_id, :value => current_user.id %>
<p><%= current_user.id %></p>
<%
=end
%>

<!-- :value => current_user.id #これがエラーになる。idを1しかとってこない。おかしい。 -->
