<h1>user_panel of show</h1>
<p>
  <strong>Title:</strong>
  <%= @user_panel.title %>
</p>

<p>
  <strong>Ingredient:</strong>
  <%= @user_panel.ingredient %>
</p>

<p>
  <strong>Seasoning:</strong>
  <%= @user_panel.seasoning %>
</p>

<p>
  <strong>画像:</strong>
  <%= image_tag @user_panel.picture, size: "140x110" %>
</p>

<p>
  <strong>user-id:</strong>
  <%= @user_panel.user_id %>
</p>

<p>
  <strong>post-id:</strong>
  <%= @user_panel.id %>
</p>

<%= link_to '投稿したレシピの一覧', user_panels_path %>
<br>
<%= link_to '投稿したレシピの編集', edit_user_panel_path %>


<%
=begin
%>


<%= link_to 'Edit', edit_user_panel_path(@user_panel) %>
<%= link_to 'Back', user_panel_path %>
<%
=end
%>
