<%= form_for (@basic_recipe) do |f| %>
  <% if @basic_recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@basic_recipe.errors.count, "error") %> prohibited this basic_recipe from being saved:</h2>

      <ul>
      <% @basic_recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">

      <%= f.label :title %>
      <%= f.text_field :title %>


    </div>

    <div class="field">

      <%= f.label :ingredient %>
      <%= f.text_field :ingredient %>

    </div>

    <div class="field">

      <%= f.label :seasoning %>
      <%= f.text_field :seasoning %>

    </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
