<p id="notice"><%= notice %></p>
<h1>show</h1>
<p>
  <strong>Title:</strong>
  <%= @basic_recipe.title %>
</p>

<p>
  <strong>Introduction:</strong>
  <%= @basic_recipe.title %>
</p>

<p>
  <strong>Ingredient:</strong>
  <%= @basic_recipe.ingredient %>
</p>

<p>
  <strong>Seasoning:</strong>
  <%= @basic_recipe.seasoning %>
</p>

<%= link_to 'Edit', edit_basic_recipe_path(@basic_recipe) %> |
<%= link_to 'Back', basic_recipes_path %>
